<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<form method="post" class="bg-white p-8 rounded-xl shadow w-96">
    {% csrf_token %}
    <h2 class="text-xl font-bold mb-6">Вход</h2>

    <input type="text" name="username" placeholder="Username"
           class="w-full mb-4 p-2 border rounded">

    <input type="password" name="password" placeholder="Password"
           class="w-full mb-4 p-2 border rounded">

    <button class="w-full bg-blue-500 text-white p-2 rounded">
        Войти
    </button>
</form>

</body>
</html>